@use '@/styles/variables' as variables;
@import '@/styles/breakpoints.scss';

.quizBoxMainContainer {
    padding: 48px 64px;

    @include media('<=Lphone') {
        padding: 24px 32px;
    }
}

.instructionContainer {
    display: flex;
    align-items: center;
    margin: 8px 0;
    color: white;

    .iconInfo {
        font-size: 2rem;
    }

    h3 {
        display: inline-block;
        margin: 0 12px;
    }
}

.questionContainer {
    padding: 16px;
    color: white;

    h5 {
        margin: 0;
    }
}

.answerChoicesRowContainer {
    padding: 12px 8px;
}

.answerChoicesBtnColContainer {
    margin: 6px auto;
    justify-content: center;
    align-items: center;
    display: flex;

    .answerChoicesBtn {
        background-color: variables.$foreGroundColor;
        color: white;
        padding: 12px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid white;

        &:hover {
            background-color: variables.$hoverAnswerBgColor;
            color: white;
        }
    }
    .selectedAnswerBtn {
        background-color: variables.$secondaryBgColor;
        color: variables.$foreGroundColor;
    }
}

.questionNavBtnRowContainer {
    margin: 24px 0;
}

.questionNavBtnColContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .questionNavBtn {
        width: 100%;
    }
}

.progressLabelContainer {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    .progressLabel {
        color: white;
    }
}
