$primaryColor: #f1efef;
$secondaryColor: #ccc8aa;
$tertiaryColor: #088395;
$foreGroundColor: #191717;
$disabledColor: #c2c2c2;
$lightDisabledColor: #e3e3e3;

// BG COLORS
$primaryBgColor: #088395;
$secondaryBgColor: #ccc8aa;
$hoverAnswerBgColor: #676765;
