@use '@/styles/variables' as variables;
@import '@/styles/breakpoints.scss';

.sectionContainer {
    padding: 12px 0;
}

.homeIntroContainer {
    background: variables.$primaryBgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
